# Julia Packaging
*.jl.cov
*.jl.*.cov
*.jl.mem
build

# FLOWPanel temps
*.gif
temps
temp*
*.vtk
*.jld
data/*
!data/pitching_wing_exp/
!data/pitching_wing_exp/**

# Jupyter notebook temps
.ipynb_checkpoints

# WriteVTK outputs
*.vtu
*.vtm
*.pvd
test/*.vtu
test/*.vtm
test/*.pvd
